body            { font-family: sans-serif; background: #bf24b3; }
a, h1, h2, h3, h4   { color: #377ba8; }
h1, h2, h3, h4      { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.5em; }
h3              { font-size: 1.2em; }
h4              { font-size:0.9em; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: #0be825; }
.section        { list-style: none; margin: 0; padding: 0; }
.section li     { margin: 0.8em 1.2em; }
.section li h2  { margin-left: -1em; }
.categorie        { list-style: none; margin: 0; padding: 0; }
.categorie li     { margin: 0.8em 1.2em; }
.categorie li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #0be825; }
.flash          { background: #bf24b3; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.la_croix       { text-align: right; margin-bottom: 1em;}
.fini           {color: #ff0022;}
.info       {color: #CC0099;}
