{% extends "layout.html" %}
{% block body %}
<h2>Creation Compte</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('create_account') }}" method=post>
        <dl>
            <dt>Pseudo*:
            <dd><input type=text name=pseudo value={{session.pseudo}}>
            <dt>Mail*:
            <dd><input type=text name=mail value={{session.mail}}>
            <dt>Date de naissance*:
            <dd><input type=date name=age value={{session.age}}>
            <dt>Sexe*:
            <dd><input type=text name=sexe value={{session.sexe}}>
            <dt>Ville:
            <dd><input type=text name=ville value={{session.ville}}>
            <dt>Etude:
            <dd><input type=text name=etude value={{session.etude}}>
            <dd><input type=submit value="creer">
        </dl>
    </form>
    <i>Les champs marqués d'une étoile sont obligatoire</i>
{% endblock %}
