<!doctype html>
<title>E-Forum</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>E-Forum</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    <a href="{{ url_for('create_account') }}">create account</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
    <a href="{{ url_for('profil',pseudo=session.pseudo) }}">mon profil</a>
    <a href="{{ url_for('msgbox') }}">mes messages</a>
    {% if request.path == "/" %}
        <a href="{{ url_for('show_offres') }}">offres recrutement</a>
    {% endif %}
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
