{% extends "layout.html" %}
{% block body %}
<a href="/{{section}}/{{categorie}}">retour</a>
<a href="/">acceuil</a>
  <ul class=messages>
  {% for msg in messages %}
    {{msg[2]}} {{msg[1]}}<br>
  {% endfor %}
  </ul>
  <ul class=suivant>
    {%if suivant  != 0%}
    <a href="../{{sujet}}/{{suivant}}">pages suivantes</a>
    {%else%}
      {% if session.logged_in %}
      <form action="{{ url_for('show_message',section=section, categorie=categorie, sujet=sujet, page=page) }}" method=post>
        <dl>
          <dt>reponse:
          <dd><input type=text name=message_input>
          <dd><input type=submit value=Repondre>
        </dl>
      </form>
      {%endif%}
    {%endif%}
  </ul>
  <ul class=precedent>
    {%if precedent  != 0%}
    <a href="../{{sujet}}/{{precedent}}">pages precedente</a>
    {%endif%}
  </ul>
{% endblock %}
