{% extends "layout.html" %}
{% block body %}
<a href="/{{section}}/{{categorie}}">retour</a>
<a href="/">acceuil</a>
  <ul class=messages>
  {% for msg in messages %}
    {{msg[2]}} <h4>Par {{msg[4]}} le {{msg[1]}}</h4>
	{%if session.logged_in %}
  {%if session.status in ["Moderateur","Administrateur"]%}
  <form action="{{ url_for('destruction_msg',idmessage=msg[0],section=section, categorie=categorie, sujet=sujet, page=page)}}" method=post class=la_croix>
        <input type="image" src="/static/la_croix.png" width="20" height="20">
  </form>
	{%elif msg[4] == session.pseudo%}
	<form action="{{ url_for('destruction_msg',idmessage=msg[0],section=section, categorie=categorie, sujet=sujet, page=page)}}" method=post class=la_croix>
        <input type="image" src="/static/la_croix.png" width="20" height="20">
	</form>
	{%endif%}
	{%endif%}
	<br>
  {% endfor %}
  </ul>
  <ul class=suivant>
    {%if suivant  != 0%}
    <a href="../{{sujet}}/{{suivant}}">pages suivantes</a>
    {%else%}
      {% if session.logged_in %}
      <form action="{{ url_for('show_message',section=section, categorie=categorie, sujet=sujet, page=page) }}" method=post>
        <dl>
          <dt>reponse:
          <dd><input type=text name=message_input>
          <dd><input type=submit value=Repondre>
        </dl>
      </form>
      {%endif%}
    {%endif%}
  </ul>
  <ul class=precedent>
    {%if precedent  != 0%}
    <a href="../{{sujet}}/{{precedent}}">pages precedente</a>
    {%endif%}
  </ul>
{% endblock %}
